.table{
    width: 30%;
}
.square{
    float: left;
    width: 30%;
    height: 30%; /* = width for a 1:1 aspect ratio */
    margin:1%;
    background-color: #eee;
    text-align: center;
    padding: 5% 0;
    font-size: 500%;
    color: transparent;
    user-select: none;
}
.square:hover{
    cursor: pointer;
    color: black;
}
.cell{
    text-align: center;
    position: absolute;
    font-size: 100px;
}

.selected{
    float: left;
    width: 30%;
    height: 30%; /* = width for a 1:1 aspect ratio */
    margin:1%;
    background-color: #eee;
    text-align: center;
    padding: 5% 0;
    font-size: 500%;
    color: black;
    user-select: none;
}
