
/* #difficulty{
    display: block;
} */
.jumbotron{
    color: #fff;
    background: #0e1e2d;
}
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  color: #fff;
  background: #222;
}

/* ol, ul {
  padding: 0;
} */

.board-row{
    display: flex;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}


.square {
  background: #444;
  border: 1px solid #999;
  float: right;
  font-size: 70px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-left: -1px;
  margin-top: -1px;
  text-align: center;
  width: 150px;
  height: 150px;
  color: #ffffff;
  -webkit-transition: all 0.20s linear;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
    display: flex;
}

.game-board{
    margin: auto;
}

/* .game-info {
  margin-left: 40%;
  margin-right: 40%;
} */

.numPlay{
    height: 100px;
}
/* Hide the browser's default radio button */
.numPlay input{
  position: absolute;
  visibility: hidden;
}
/* Customize the label (the container) */
.numPlay label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 25px;
  cursor: pointer;
  border: 3px solid black;
  user-select: none;
  -webkit-transition: all 0.20s linear;
}

/* On mouse-over, add a grey background color */
.numPlay:hover label{
  color: #000;
  background: #ccc;
  font-size: 1.6em;
}

.numPlay input:checked ~ label{
    color: #fff;
    font-size: 2em;
    border: 5px solid black;
    background: #56a;
}
